<mat-card class="login-box">
  <app-panel-loader [visible]="loading"></app-panel-loader>

  <div fxLayout="row">
    <div fxFlex="100%" class="text-center">
      <img class="logo" src="assets/image/logo.png" alt="Angular App" title="Angular App">
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="100%" class="text-center">
      <h1>Recuperação de Senha</h1>
    </div>
  </div>

  <form
      class="form form-recuperacao-senha"
      [formGroup]="form"
      autocomplete="off"
      (ngSubmit)="recuperarSenha()">
    <div fxLayout="row">
      <div fxFlex="100%">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput
              type="email"
              id="email"
              formControlName="email"
              appAutoFocus>
          <mat-error *ngFor="let errorMessage of getErrorMessages(form.get('email'))">
            {{ errorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <button mat-raised-button
            type="submit"
            color="primary"
            id="enviar"
            class="pull-right">
          Enviar
        </button>
        <a mat-raised-button
            id="voltar"
            class="pull-left"
            [routerLink]="getLoginRouterLink()">
          Voltar
        </a>
      </div>
    </div>
  </form>
</mat-card>
