// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// body
$body-background-color: #fafafa;
$body-background-color-dark: #333;
$body-color: #333;
$body-color-dark: #fff;
$body-font-family: 'Roboto', 'Helvetica Neue', sans-serif;
$body-font-size: 14px;
$body-line-height: 1.4rem;

// main-color
$main-color-blue: #0844a4;
$main-color-blue-hover: #0844c4;
$main-color-black: #042260;
$main-color-black-hover: #222;
$main-color-white: #fff;

// topbar
$topbar-height: 56px;

// disabled
$opacity-disabled: .35;

// sidebar
$sidebar-background-color: #2f4050;
$sidebar-background-color-active: #293846;
$sidebar-color-link: #a7b1c2;
$sidebar-color-link-active: #fff;
$sidebar-breakpoint: 768px;
$sidebar-transition: all 0.5s ease;

// topbar
$topbar-color: #2f4050;
$topbar-color-link: #a7b1c2;
$topbar-color-link-active: #fff;

// status
$status-success: #18a689;
$status-warning: #f7a54a;
$status-error: #ec4758;
$status-running: #21b9bb;

// validation
$validation-color-error: #f44336;
