$a-color: #ddd;
$a-color-hover: #ddd;

body a {
  color: $a-color;
  outline: 0;
  text-decoration: none;

  &:hover {
    color: $a-color-hover;
    text-decoration: underline;
  }

  &.disabled {
    cursor: default;
    opacity: $opacity-disabled;
    pointer-events: none;
  }
}
