$a-color: #673ab7;
$a-color-hover: #673ab7;

body a {
  color: $a-color;
  outline: 0;
  text-decoration: none;

  &:hover {
    color: $a-color-hover;
    text-decoration: underline;

    &.mat-button,
    &.mat-raised-button,
    &.mat-stroked-button,
    &.mat-flat-button {
      text-decoration: none;
    }
  }

  &.disabled {
    cursor: default;
    opacity: $opacity-disabled;
    pointer-events: none;
  }
}
