$a-color: #007bff;
$a-color-hover: #0056b3;
$a-button-color-hover: #fff;

body a {
  color: $a-color;
  outline: 0;

  &:hover {
    color: $a-color-hover;
    text-decoration: none;
  }

  &.ui-button:hover { color: $a-button-color-hover }

  &.disabled {
    cursor: default;
    opacity: $opacity-disabled;
    pointer-events: none;
  }
}
