$hx-color: #444;
$hx-font-weight: 100;
$hx-line-height: 1.1;

$h1-font-size: 30px;
$h1-margin-bottom: 10px;

$h2-font-size: 24px;
$h2-margin-top: 5px;

$h3-font-size: 16px;
$h3-font-weight: 600;
$h3-margin-top: 5px;

$h4-font-size: 14px;
$h4-margin-top: 5px;

$h5-font-size: 12px;
$h5-margin-top: 5px;

$h6-font-size: 10px;
$h6-margin: 10px 0;

body {
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;

  h1, h2, h3, h4, h5, h6 {
    color: $hx-color;
    font-weight: $hx-font-weight;
    line-height: $hx-line-height;
  }

  h1 {
    font-size: $h1-font-size;
    margin-bottom: $h1-margin-bottom;
  }

  h2 {
    font-size: $h2-font-size;
    margin-top: $h2-margin-top;
  }

  h3 {
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    margin-top: $h3-margin-top;
  }

  h4 {
    font-size: $h4-font-size;
    margin-top: $h4-margin-top;
  }

  h5 {
    font-size: $h5-font-size;
    margin-top: $h5-margin-top;
  }

  h6 {
    font-size: $h6-font-size;
    margin: $h6-margin;
  }
}
