body {
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;

  h1, h2, h3, h4, h5, h6 {
    color: $hx-color;
    font-weight: $hx-font-weight;
    line-height: $hx-line-height;
  }

  h1 {
    font-size: $h1-font-size;
    margin-bottom: $h1-margin-bottom;
  }

  h2 {
    font-size: $h2-font-size;
    margin-top: $h2-margin-top;
  }

  h3 {
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    margin-top: $h3-margin-top;
  }

  h4 {
    font-size: $h4-font-size;
    margin-top: $h4-margin-top;
  }

  h5 {
    font-size: $h5-font-size;
    margin-top: $h5-margin-top;
  }

  h6 {
    font-size: $h6-font-size;
    margin: $h6-margin;
  }
}
