$inputswitch-background-color: transparent;
$inputswitch-checked-background-color: #007ad9;
$inputswitch-slider-background-color: #ccc;
$inputswitch-slider-border-radius: 30px;
$inputswitch-slider-transition: background-color 0.2s;
$inputswitch-slider-before-background-color: #fff;
$inputswitch-slider-before-transition: .3s;

body {
  .ui-inputswitch {
    background-color: $inputswitch-background-color;
    margin-top: .5em;

    &.ui-inputswitch-checked {
      .ui-inputswitch-slider { background-color: $inputswitch-checked-background-color }
    }

    .ui-inputswitch-slider {
      background: $inputswitch-slider-background-color;
      border-radius: $inputswitch-slider-border-radius;
      transition: $inputswitch-slider-transition;

      &::before {
        background-color: $inputswitch-slider-before-background-color;
        transition: $inputswitch-slider-before-transition;
      }
    }
  }
  .ui-inputswitch-label {
    font-weight: 600;
    margin-left: .2em;
    padding: .3em;
    position: relative;
    top: -6px;
  }
}
