body {
  .ui-multiselect {
    @include form-control-border();
    line-height: 1.25;

    .ui-multiselect-label {
      margin-bottom: 0;
      padding: .25em 0;
    }

    .ui-multiselect-header {
      .ui-multiselect-filter-container {
        width: 93%;

        .ui-inputtext { padding: .5em .5em .5em 1.3em }
        .ui-multiselect-filter-icon { top: .6em }
      }

      .ui-multiselect-close { top: 1em }
    }

    .ui-multiselect-item {
      cursor: pointer;
      padding: .6em;

      label {
        cursor: pointer;
        margin-bottom: 0;
      }
    }
  }
}
