<ng-container *ngIf="hasValidTokens(); else notAuthenticated">
  <div id="app-wrapper" class="authenticated" [class.mobile]="mobileQueryList.matches">
    <mat-toolbar id="app-topbar" color="primary">
      <mat-toolbar-row>
        <app-topbar class="app-topbar-content" (toggleMenu)="sidenav.toggle()"></app-topbar>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container
        id="app-sidebar-container"
        [style.marginTop.px]="mobileQueryList.matches ? 56 : 0">
      <mat-sidenav #sidenav
          class="app-sidebar"
          [mode]="mobileQueryList.matches ? 'over' : 'side'"
          [fixedInViewport]="mobileQueryList.matches"
          fixedTopGap="56">
        <app-sidebar
            class="app-sidebar-list"
            (itemClick)="sidenav.toggle()"></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content class="app-sidebar-content">
        <main id="app-main">
          <div id="app-main-content">
            <router-outlet></router-outlet>
          </div>
          <app-page-footer id="app-footer"></app-page-footer>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-container>

<ng-template #notAuthenticated>
  <div id="app-wrapper" class="login">
    <router-outlet></router-outlet>
  </div>
</ng-template>

<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmDialog>
  <p-footer>
    <button pButton class="ui-button-danger btn-nao" icon="fa fa-times" label="Não"
      (click)="confirmDialog.reject()"></button>
    <button pButton class="ui-button-success btn-sim" icon="fa fa-check" label="Sim"
      (click)="confirmDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<div id="btn-scroll-top" [hidden]="!showButtonScrollTop">
  <i class="fa fa-arrow-circle-up" (click)="scrollToTop()"></i>
</div>
