$breadcrumb-chevron-before-font-size: 1em;
$breadcrumb-chevron-before-font-weight: normal;
$breadcrumb-menuitem-link-background-color: transparent;
$breadcrumb-menuitem-link-color: #333;
$breadcrumb-menuitem-link-active-font-weight: #333;

#app-breadcrumb {
  .ui-breadcrumb {
    border: none;
    padding: 0;
  }

  .ui-breadcrumb-chevron {
    margin: 0 .1em;

    &::before {
      font-size: $breadcrumb-chevron-before-font-size;
      font-weight: $breadcrumb-chevron-before-font-weight;
    }
  }

  .ui-menuitem-link {
    background-color: $breadcrumb-menuitem-link-background-color;
    color: $breadcrumb-menuitem-link-color;

    &.ui-state-active { font-weight: $breadcrumb-menuitem-link-active-font-weight }
  }
}
