$fieldset-border: 1px solid #ddd;
$fieldset-border-radius: 5px;
$fieldset-legend-font-size: 1em;
$fieldset-legend-font-weight: 600;
$fieldset-legend-a-border: 1px solid #ddd;

body .ui-fieldset {
  border: $fieldset-border;
  border-radius: $fieldset-border-radius;
  margin: 0 0 10px 0;
  padding: 10px;

  .ui-fieldset-legend {
    font-size: $fieldset-legend-font-size;
    font-weight: $fieldset-legend-font-weight;
    padding: 0;
    width: auto;

    a {
      border: $fieldset-legend-a-border;
      margin: 0 -4px;
      padding: 0 5px;
    }
  }

  &.legend-no-bordered .ui-fieldset-legend {
    border: none;
    margin: 0;
    padding: 0;
  }
}
