$form-control-label-required-color: #a00;
$form-control-label-required-content: '*';
$form-control-label-required-margin: .2em;

$form-control-box-shadow: 0 0 .2em #80bdff;
$form-control-invalid-border-color: #e13131;

$form-message-background-color: transparent;
$form-message-border: none;
$form-message-font-size: .8em;
$form-message-margin: 0;
$form-message-padding: 2px 0 2px 3px;
$form-message-first-of-type-margin: .25em 0 0 0;

$form-message-error-backgroud-color: inherit;
$form-message-error-border-left: 3px solid $validation-color-error;
$form-message-error-color: $validation-color-error;

@mixin form-control-border() {
  border: 1px solid #e5e6e7;
  border-radius: 1px;
}

body form {
  &.form {
    .control-label {
      &.required {
        &::after {
          color: $form-control-label-required-color;
          content: $form-control-label-required-content;
          margin-left: $form-control-label-required-margin;
        }
      }
    }
  }

  &.form-horizontal {
    @media screen and (min-width: $breakpoint-sm) {
      .control-label {
        padding-top: 1.2em;
        text-align: right;

        &.required {
          &::after {
            content: '';
            margin-left: 0;
          }

          &::before {
            color: $form-control-label-required-color;
            content: $form-control-label-required-content;
            margin-right: $form-control-label-required-margin;
          }
        }
      }
    }
  }

  .control-label {
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .form-control {
    display: block;
    width: 100% !important;

    &:focus { box-shadow: $form-control-box-shadow }
  }

  .ui-float-label { margin-bottom: .5rem }

  .data-loading {
    display: block;
    padding-top: .4em;
  }

  .submitted .ng-invalid,
  .ng-touched.ng-invalid { border-bottom-color: $form-control-invalid-border-color }

  .ui-message {
    background-color: $form-message-background-color;
    border: $form-message-border;
    display: block;
    font-size: $form-message-font-size;
    margin: $form-message-margin;
    padding: $form-message-padding;

    &:first-of-type { margin: $form-message-first-of-type-margin }

    &.ui-message-error {
      background-color: $form-message-error-backgroud-color;
      border-left: $form-message-error-border-left;
      color: $form-message-error-color;
    }
  }
}
