$panel-border-color: #e7eaec;
$panel-border-style: solid solid none;
$panel-border-width: 2px 0 0;
$panel-border-radius: 0;

$panel-titlebar-background-color: #fff;
$panel-titlebar-border-bottom-color: $panel-border-color;
$panel-titlebar-border-bottom-style: solid;
$panel-titlebar-border-bottom-width: 1px;
$panel-titlebar-border-radius: 0;

$panel-titlebar-expand-color: #767b7f;
$panel-titlebar-expand-margin-right: .2em;

body .ui-panel {
  border-color: $panel-border-color;
  border-style: $panel-border-style;
  border-width: $panel-border-width;
  border-radius: $panel-border-radius;

  .ui-panel-titlebar {
    background-color: $panel-titlebar-background-color;
    border-bottom-color: $panel-titlebar-border-bottom-color;
    border-bottom-style: $panel-titlebar-border-bottom-style;
    border-bottom-width: $panel-titlebar-border-bottom-width;
    border-radius: $panel-titlebar-border-radius;

    .app-panel-expand {
      color: $panel-titlebar-expand-color;
      margin-right: $panel-titlebar-expand-margin-right;
    }
  }

  .ui-panel-content { position: relative }
}
