$table-border: 1px solid #dee2e6;

$table-thead-background-color: #fff;
$table-thead-font-weight: 600;
$table-thead-text-align: center;

$table-tbody-tr-background-color: #fff;
$table-tbody-tr-odd-background-color: rgba(#000, .05);

$table-paginator-font-size: .9em;

$table-summary-color: #555;

$table-loading-opacity: .1;

$table-expanded-row-content-scroll-max-height: 1000px;
$table-expanded-row-content-scroll-padding: 10px;
$table-expanded-row-content-scroll-panel-border-color: #ddd;
$table-expanded-row-content-scroll-panel-border-style: solid;
$table-expanded-row-content-scroll-panel-border-width: 1px;
$table-expanded-row-content-scroll-panel-titlebar-color: #555;
$table-expanded-row-content-scroll-panel-titlebar-font-weight: 600;

body .ui-table {
  table {
    thead th,
    tfoot td,
    tbody td { padding: .5em !important }

    thead {
      th, td {
        background-color: $table-thead-background-color;
        font-weight: $table-thead-font-weight;
        text-align: $table-thead-text-align;
      }
    }

    tbody {
      tr { background-color: $table-tbody-tr-background-color }
      tr:nth-of-type(odd) { background-color: $table-tbody-tr-odd-background-color }

      td {
        &.text-center {
          @media screen and (max-width: $breakpoint-sm) { text-align: left !important }
        }

        .btn-action {
          border: none;
          margin-right: .1em;
          padding: .2em;

          &:last-child { margin-right: 0 }
        }
      }
    }

    td, th { border: $table-border }

    .emptymessage { text-align: center }
  }

  // Paginator
  .ui-paginator.ui-paginator-bottom {
    border-bottom: $table-border;
    font-size: $table-paginator-font-size;

    .ui-paginator-element {
      height: 2.286em;
      margin: 0;
      min-width: 2.286em;
      padding: 0;
      vertical-align: top;
    }

    .ui-paginator-pages .ui-paginator-page { padding: .4em }
  }

  // Summary
  .ui-table-caption,
  .ui-table-summary {
    border: $table-border;
    color: $table-summary-color;
    padding: .5em;
  }

  // Loading
  .ui-table-loading { opacity: $table-loading-opacity }
  .ui-table-loading-content {
    left: calc(50% - 20px);
    top: calc(50% - 20px);
  }

  // Expanded row
  .expanded-row-content {
    .scroll {
      max-height: $table-expanded-row-content-scroll-max-height;
      overflow: auto;
      padding: $table-expanded-row-content-scroll-padding;

      .ui-panel {
        background-color: transparent;
        border-color: $table-expanded-row-content-scroll-panel-border-color;
        border-style: $table-expanded-row-content-scroll-panel-border-style;
        border-width: $table-expanded-row-content-scroll-panel-border-width;
        margin-bottom: .5em;

        .ui-panel-titlebar {
          background-color: transparent;
          border-bottom-color: $table-expanded-row-content-scroll-panel-border-color;
          color: $table-expanded-row-content-scroll-panel-titlebar-color;
          font-weight: $table-expanded-row-content-scroll-panel-titlebar-font-weight;
          padding: .3em .7em;
        }

        .ui-panel-content { padding: .5em .7em }
      }
    }

    .ui-accordion {
      .ui-accordion-header {
        a[id^=ui-accordiontab] { padding: .5em .2em }
      }

      .ui-accordion-content {
        padding: 1em;

        .scroll { padding: 0 }
      }
    }

    .ui-g {
      .indent { padding-left: .5em }
    }

    .break-text {
      white-space: pre-line;
      word-break: break-word;
    }
  }
}
