$tag-primary-background-color: #1a7bb9;
$tag-primary-background-color-hover: #096aa8;
$tag-primary-color: #fff;

$tag-secondary-background-color: #fff;
$tag-secondary-background-color-hover: #e6e6e6;
$tag-secondary-border-color: #d7dadc;
$tag-secondary-color: #333;

$tag-success-background-color: #18a689;
$tag-success-background-color-hover: #079578;
$tag-success-color: #fff;

$tag-info-background-color: #21b9bb;
$tag-info-background-color-hover: #10a8aa;
$tag-info-color: #fff;

$tag-warning-background-color: #f7a54a;
$tag-warning-background-color-hover: #e69439;
$tag-warning-color: #fff;

$tag-danger-background-color: #ec4758;
$tag-danger-background-color-hover: #db3647;
$tag-danger-color: #fff;

body .app-tag,
body .app-tag.ui-button {
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 600;
  font-size: .9em;
  padding: 3px 8px;

  &.app-tag-primary {
    background-color: $tag-primary-background-color;
    color: $tag-primary-color;

    &:enabled:hover,
    &:focus { background-color: $tag-primary-background-color-hover }
  }

  &.app-tag-secondary {
    background-color: $tag-secondary-background-color;
    border-color: $tag-secondary-border-color;
    color: $tag-secondary-color;

    &:enabled:hover,
    &:focus { background-color: $tag-secondary-background-color-hover }
  }

  &.app-tag-success {
    background-color: $tag-success-background-color;
    color: $tag-success-color;

    &:enabled:hover,
    &:focus { background-color: $tag-success-background-color-hover }
  }

  &.app-tag-info {
    background-color: $tag-info-background-color;
    color: $tag-info-color;

    &:enabled:hover,
    &:focus { background-color: $tag-info-background-color-hover }
  }

  &.app-tag-warning {
    background-color: $tag-warning-background-color;
    color: $tag-warning-color;

    &:enabled:hover,
    &:focus { background-color: $tag-warning-background-color-hover }
  }

  &.app-tag-danger {
    background-color: $tag-danger-background-color;
    color: $tag-danger-color;

    &:enabled:hover,
    &:focus { background-color: $tag-danger-background-color-hover }
  }

}
