<mat-card class="login-box">
  <app-panel-loader [visible]="loading"></app-panel-loader>

  <div fxLayout="row">
    <div fxFlex="100%" class="text-center">
      <img class="logo" src="assets/image/logo.png" alt="Angular App" title="Angular App">
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="100%" class="text-center">
      <h1>Login</h1>
    </div>
  </div>

  <form
      class="form form-login"
      [formGroup]="form"
      autocomplete="off"
      [class.submitted]="formSubmitted"
      (ngSubmit)="login()">
    <div fxLayout="row">
      <div fxFlex="100%">
        <mat-form-field>
          <mat-label>Usuário</mat-label>
          <input matInput
            id="username"
            formControlName="username"
            appAutoFocus>
          <mat-error *ngFor="let errorMessage of getErrorMessages(form.get('username'))">
            {{ errorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100%">
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput
            type="password"
            id="password"
            formControlName="password">
          <mat-error *ngFor="let errorMessage of getErrorMessages(form.get('password'))">
            {{ errorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="100%">
        <mat-checkbox
            id="lembrar-acesso"
            name="lembrar-acesso"
            formControlName="remember">
            Lembrar
          </mat-checkbox>
        <button mat-raised-button
          color="primary"
          type="submit"
          class="pull-right">
          Entrar
        </button>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100%" class="text-center">
        <a id="recuperar-senha" [routerLink]="getRecuperacaoSenhaRouterLink()">Esqueceu a senha? Clique aqui</a>
      </div>
    </div>
  </form>
</mat-card>
