body {
  #app-wrapper.login {
    @include flex-center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;

    .login-box {
      width: 250px;

      .logo {
        height: 100px;
      }

      h1 {
        font-size: 1.6em;
        margin-bottom: 0;
      }

      .mat-form-field {
        width: 100%;
      }

      #recuperar-senha {
        display: inline-block;
        margin-top: 1em;
      }
    }
  }
}
