#app-main {
  height: 100%;
  padding-bottom: 125px;
  position: relative;

  #app-main-content {
    padding: 10px;

    .page-header {
      background-color: #fff;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }

    .page-content {
      padding: 20px;

      .accessibility-bar {
        margin-bottom: 1em;
      }
    }
  }

  #app-footer {
    bottom: 0;
    padding: 20px;
    position: absolute;
    width: 100%;

    .page-footer {
      align-items: center;
      background-color: #fff;
      display: flex;
      justify-content: space-between;

      .logo { height: 2.5em }
    }
  }
}
